{% extends 'weebs/base.html' %}
{% load static %}

{% block script %}
    <script>
        document.addEventListener('DOMContentLoaded',function(){
            if ( document.querySelector("#contact").classList.contains('contact') )

                document.querySelector("#contact").classList.toggle('current');
        })
    </script>

{% endblock  %}

{% block body %}



        <!-- content
    ================================================== -->
    <section class="s-content site-page">
        <div class="row">
            <div class="column large-12">

                <section>

                    <div class="s-content__media">
                        <img src=" {% static 'images/thumbs/contact/contact-1050.jpg' %} " 
                             srcse {% static 't="imag' %} es/thumbs/contact/contact-2100.jpg 2100w, 
                                     images/thumbs/contact/contact-1050.jpg 1050w, 
                                     images/thumbs/contact/contact-525.jpg 525w" sizes="(max-width: 2100px) 100vw, 2100px" alt="">
                    </div> <!-- end s-content__media -->

                    <div class="s-content__primary">

                      
                        <div class="row block-large-1-2 block-tab-full s-content__blocks">
                            <div class="column">
                                <h4>Where to Find Us</h4>
                                <p>
                                10\Block 5<br>
                                Seoul, South Korea<br>
                                94043 SK
                                </p>
                            </div>

                            <div class="column">
                                <h4>Contact Info</h4>
                                <p>
                                someone@abstractwebsite.com<br>
                                info@abstractwebsite.com <br>
                                
                                </p> 
                            </div>
                        </div> <!-- end s-content__blocks -->

                        <form name="cForm" id="cForm" class="s-content__form" method="post" action="">
                            {% csrf_token %}
                            <fieldset>

                                <div class="form-field">
                                    <input name="cName" type="text" id="cName" class="h-full-width" placeholder="Your Name" value="">
                                </div>

                                <div class="form-field">
                                    <input name="cEmail" type="text" id="cEmail" class="h-full-width" placeholder="Your Email" value="">
                                </div>

                                <div class="form-field">
                                    <input name="cWebsite" type="text" id="cWebsite" class="h-full-width" placeholder="Website"  value="">
                                </div>

                                <div class="message form-field">
                                    <textarea name="cMessage" id="cMessage" class="h-full-width" placeholder="Your Message" ></textarea>
                                </div>

                                <button type="submit" class="submit btn btn--primary btn--medium h-full-width">Submit</button>

                            </fieldset>
                       </form> <!-- end form -->

                    </div> <!-- end s-content__primary -->

                </section>

            </div> <!-- end column -->
        </div> <!-- end row -->
    </section> <!-- end s-content -->


    {% endblock %}